<div class="container-body">
  <div class="container-ensemble">
    <div class="title">Ansambl</div>
    <div class="content">
      <div class="left">
        <div class="basic">
          <div class="img"></div>
          <div class="name-s">Mladen Potrebic</div>
          <div class="information">
            <div class="line"></div>
            <div class="name-full">Mladen Potrebic</div>
            <div class="line-v"></div>
            <div class="position">Glumac</div>
          </div>
        </div>
        <div class="mail-address">mladen.potrebic@gmail.com</div>
      </div>
      <div class="right">
        <div class="container-list">
          <div class="title">Glumci</div>
          <div class="list">
            <div class="person">
              <div class="img"></div>
              <div class="full-name">Nikoleta Stamenkovic</div>
            </div>
          </div>
          <div class="container-pagination">
            <div class="pagination">
              <div class="left"></div>
              <div class="page">
                <span>01</span>
              </div>
              <div class="line"></div>
              <div class="pages">
                <span>05</span>
              </div>
              <div class="right"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

















<!--

<div *ngFor="let osoba of osobe; let i = index">
  <div>{{osoba.ime}}</div>
  <div>{{osoba.prezime}}</div>
  <div>{{osoba.slika1}}</div>
  <div>{{osoba.slika2}}</div>
  <div>{{osoba.opis}}</div>
  <div>{{osoba.prioritet}}</div>
  <div>{{osoba.brojTelefona}}</div>
  <div>{{osoba.mejl}}</div>
</div>
-->
<!-- export interface Osoba {
  id?: number;
  ime: string;
  prezime: string;
  slika1: string;
  slika2: string;
  opis: string;
  prioritet: number;
  brojTelefona: number;
  mejl: string;
} -->