<!-- <div class="container-body">
    <div class="container-contact">
        <div class="title">Kontakt</div>

        <div class="letter">
            <div class="left">
                <div class="message">
                    <div class="massage-label"> Vaša poruka:</div>
                    <textarea ng-model="myTextarea" class="massage-input"></textarea>
                </div>
                <div class="container-mail">
                    <label class=mail-label>Vaša mejl adresa:</label>
                    <input class="mail">
                </div>
                <div class="container-name">
                    <label class="name-label">Vaše ime:</label>
                    <div>
                        <input class="name">
                    </div>
                </div>
                <div class="conf">
                    <button class="conf-bt"> POŠALJI</button>
                </div>
            </div>
            <div class="right">
                <div class="container-stamp">
                    <div class="stamp">
                        <div class="text-1">POZORŠTE</div>
                        <div class="text-2">PROMENA</div>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="t-data">
                    <div class="data-label">Telefon</div>
                    <div class="data-text">021 422 177
                    </div>
                </div>
                <div class="t-data">
                    <div class="data-label">Mejl Adresa</div>
                    <div class="data-text">teatarpromena@gmail.com</div>
                </div>
                <div class="t-data">
                    <div class="data-label">Adresa</div>
                    <div class="data-text">Đure Jakšića 7, Novi Sad</div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="container-contact">
    <div class="pre"></div>
    <div class="center">
        <div class="header">Kontakt</div>

        <div class="content">
            <div class="letter">
                <div class="left">
                    <div class="message">
                        <div class="massage-label"> Vaša poruka:</div>
                        <textarea ng-model="myTextarea" class="massage-input"></textarea>
                    </div>
                    <div class="container-mail">
                        <label class=mail-label>Vaša mejl adresa:</label>
                        <input class="mail">
                    </div>
                    <div class="container-name">
                        <label class="name-label">Vaše ime:</label>
                        <div>
                            <input class="name">
                        </div>
                    </div>
                    <div class="conf">
                        <button class="conf-bt" (click)="sendMail()"> POŠALJI</button>
                    </div>
                </div>
                <div class="right">
                    <div class="container-stamp">
                        <div class="stamp">
                            <div class="text-1">POZORŠTE</div>
                            <div class="text-2">PROMENA</div>
                            <div class="line"></div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="t-data">
                        <div class="data-label">Telefon</div>
                        <div class="data-text">021 422 177
                        </div>
                    </div>
                    <div class="t-data">
                        <div class="data-label">Mejl Adresa</div>
                        <div class="data-text">teatarpromena@gmail.com</div>
                    </div>
                    <div class="t-data">
                        <div class="data-label">Adresa</div>
                        <div class="data-text">Đure Jakšića 7, Novi Sad</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post"></div>
</div>


<div class="container-contact-mob">
    <div class="header">Kontakt</div>
    <div class="content">
        <div class="basic" *ngIf="!poruka">
            <div class="line">
                <hr>
            </div>
            <div class="title">
                <div>POZORISTE</div>
                <div>PROMENA</div>
            </div>
            <div class="informacija">
                <div class="header">Telefon</div>
                <div class="content">021 422 177</div>
            </div>
            <div class="informacija">
                <div class="header">Mejl Adresa</div>
                <div class="content">teatarpromena@gmail.com</div>
            </div>
            <div class="informacija">
                <div class="header">Adresa</div>
                <div class="content">Đure Jakšića 7, Novi Sad</div>
            </div>
            <div class="box-button">
                <div class="text-line" (click)="poruka = true">
                    <span>
                        <span>POŠALJITE PORUKU</span>
                    </span>
                </div>
                <div class="line">
                    <div></div>
                </div>
            </div>
        </div>
        <div class="poruka" *ngIf="poruka">
            <div class="message">
                <div class="massage-label"><span>Poruka</span></div>
                <textarea ng-model="myTextarea" class="massage-input"></textarea>
            </div>
            <div class="container-mail">
                <input class="mail">
                <label class=mail-label>(Vaša mejl adresa)</label>
            </div>
            <div class="container-name">
                <input class="mail">
                <label class=mail-label>(Vaše ime i prezime)</label>
            </div>
            <div class="conf">
                <button class="conf-bt"> POŠALJI</button>
            </div>
        </div>
    </div>
</div>