
<div class="container-ensemble">
  <div class="pre"></div>
  <div class="center">
    <div class="header">Ansambl</div>
    <div class="content">
      <div class="left" (mouseover)="imgVersion = 2" (mouseout)="imgVersion = 1">
        <div class="container-img">
          <img
            class="img"
            src="/assets/images/Ensemble/Big/img_{{izabranaOsoba.id}}_{{imgVersion}}.png"
          />
          <div class="name-s">
            {{ izabranaOsoba.ime }} {{ izabranaOsoba.prezime }}
          </div>
          <div class="information">
            <div class="line"><div></div></div>
            <div class="name-full">
              {{ izabranaOsoba.ime }} {{ izabranaOsoba.prezime }}
            </div>
            <div class="line-v"></div>
            <div class="position">{{ izabranaOsoba.opis }}</div>
          </div>
        </div>
        <div class="mail-address">
          <div class="text">Kontakt</div>
          <div class="small-line"></div>
          <div class="text">{{ izabranaOsoba.mejl }}</div>
        </div>
      </div>
      <div class="right">
        <div class="title">Glumci / Dramaturzi</div>
        <div class="list">
          <div class="container-list-item">
            <div class="list-item" *ngFor="let osoba of osobe; let i = index">
              <div class="person" (click)="promenaIzabraneOsobe(osoba)">
                <img
                  class="img"
                  src="/assets/images/Ensemble/Small/img_{{osoba.id}}_1.png"
                />
                <div class="full-name">
                  <h1>{{ osoba.ime }} {{ osoba.prezime }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-pagination">
          <div class="pagination">
            <div
              class="left-a"
              (click)="ocitajStranu(currentPageNumber - 1)"
            ></div>
            <div class="page-a">
              <span>
                <span *ngIf="currentPageNumber < 9">0</span
                >{{ currentPageNumber + 1 }}</span
              >
            </div>
            <div class="line-a"></div>
            <div class="pages-a">
              <span>
                <span *ngIf="ukupnoStrana < 10">0</span>{{ ukupnoStrana }}</span
              >
            </div>
            <div class="right-a" (click)="ocitajSledecuStranu()"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="post"></div>
</div>

<div class="container-ensemble-mob">
  <div class="header">Ansambl</div>
  <div class="content" *ngIf="!imgBox">
    <div class="title">Glumci / Dramaturzi</div>
    <div class="list">
      <div class="container-list-item">
        <div class="list-item" *ngFor="let osoba of osobe; let i = index">
          <div
            class="person"
            (click)="promenaIzabraneOsobe(osoba); imgBox = true"
          >
            <img
              class="img"
              src="/assets/images/Ensemble/Small/img_{{osoba.id}}_1.png"
            />
            <div class="full-name">
              <h1>{{ osoba.ime }} {{ osoba.prezime }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-pagination">
      <div class="pagination">
        <div class="left-a" (click)="ocitajStranu(currentPageNumber - 1)"></div>
        <div class="page-a">
          <span>
            <span *ngIf="currentPageNumber < 9">0</span
            >{{ currentPageNumber + 1 }}</span
          >
        </div>
        <div class="line-a"></div>
        <div class="pages-a">
          <span>
            <span *ngIf="ukupnoStrana < 10">0</span>{{ ukupnoStrana }}</span
          >
        </div>
        <div class="right-a" (click)="ocitajSledecuStranu()"></div>
      </div>
    </div>
  </div>
  <div class="img-box" *ngIf="imgBox">
    <div class="container-img">
      <img
        class="img"
        src="/assets/images/Ensemble/Big/img_{{izabranaOsoba.id}}_{{imgVersion}}.png"
      />
      <div class="name-s">
        {{ izabranaOsoba.ime }} {{ izabranaOsoba.prezime }}
      </div>
      <div class="information">
        <div class="name-full">
          {{ izabranaOsoba.ime }} {{ izabranaOsoba.prezime }}
        </div>
        <div class="line"><div></div></div>
        <div class="position">{{ izabranaOsoba.opis }}</div>
      </div>
      <div class="mail-address">{{ izabranaOsoba.mejl }}</div>
    </div>
    <div class="box-button">
      <div class="text-line" (click)="imgBox=false">
        <span> <span>ZATVORI</span> </span>
      </div>
      <div class="line"><div></div></div>
    </div>
  </div>
</div>

