<!-- <div class="container-body">
  <div class="container-ensemble">
    <div class="title">Ansambl</div>
    <div class="content"> -->
<!-- <div *ngIf="osobe"> -->
<div class="left" (mouseover)="imgVersion = 2" (mouseout)="imgVersion = 1">
    <div class="basic">
      <div class="center">
        <img class="img" src="/assets/images/Ensemble/img_1_{{imgVersion}}.png">
        <div class="name-s" >{{this.osobe.ime}} {{this.osobe.prezime}}</div>
        <div class="information">
          <div class="line">
            <div></div>
          </div>
          <div class="name-full">{{this.osobe.ime}} {{this.osobe.prezime}}</div>
          <div class="line-v"></div>
          <div class="position">{{this.osobe.opis}}</div>
        </div>

      </div>

    </div>
    <div class="mail-address">
      <div class="text">Kontakt</div>
      <div class="small-line"></div>
      <div class="text">{{this.osobe.mejl}}</div>
    </div>
  </div>

<!-- </div> -->

<!-- </div>
  </div>
</div> -->