<div *ngFor="let predstavaOsoba of predstavaOsobe; let i = index">  
  <h1> zdravo ovo je uloga: {{predstavaOsoba.uloga}}</h1>
  <br/>
  <h2> zdravo ovo je ime osobe: {{predstavaOsoba.osoba.ime}}</h2>
  <h2> zdravo ovo je prezime osobe: {{predstavaOsoba.osoba.prezime}}</h2>
  <br/>
  <h5> zdravo ovo je naslov predstave: {{predstavaOsoba.predstava.naslov}}</h5>
  <h5> zdravo ovo je opis predstave: {{predstavaOsoba.predstava.opis}}</h5>
  <h5> zdravo ovo je slika predstave: {{predstavaOsoba.predstava.slika}}</h5>
  <h5> zdravo ovo su slike predstave: {{predstavaOsoba.predstava.slike.sadrzaj}}</h5>
  <h5> zdravo ovo je video predstave: {{predstavaOsoba.predstava.video}}</h5>
  <br/>
</div>